.hero{
    background-image: url("../../../../public/images/bk1.jpg");
    /* background-color:#C6FFDD; */
    /* background: linear-gradient(to right,#C6FFDD, #FFD194); */
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    z-index:-9;
    width: 99.5%;
    height: 100vh;
    padding-top: 20%;
    padding-right: 50px;
    color:#F8F4E1;
    margin-left:5px;
  }
  
  .hero #heading h3 {
    color: #543310;
  }
  .hero #heading {
    text-align: left;
    margin: 0;
    padding: 0;
  }
  .row{
    margin-top: -40px;
    width:60%;
  }
  .row h1{
    margin-left: -27.5px;
  }
  .row p{
    color:#F8F4E1;
    margin-left: -9px;
  }

  @media screen and (max-width: 768px) {
    .margin {
      height: 40vh;
    }
    .hero {
      background-position: right;
      padding-top: 50%;
      height: 80vh;
    }
    .hero .row {
      width: 100%;
    }
    
  }
  